
.carousel-content-bg-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-bg-container {
    max-width: 100%; /* Make sure it doesn't exceed the parent width */
    overflow: hidden; /* Hide any overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 40vh;
    width: 95vw;
}

.carousel-image {
     /* Set your desired height */
    background-size: cover;
    height: 250px;
     /* Ensures the image covers the area without distortion */
    width: 100%; /* Make sure the image takes full width */
    border-radius: 10px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for visibility */
    padding: 10px;
    bottom: 20px; /* Adjust position if necessary */
}

/* Optional: Media query for responsiveness */
